In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pathlib import Path

In [2]:
restaruantpath= Path("csv_folder/restaurant_data.csv")
restaruantfile=pd.read_csv(restaruantpath,encoding="UTF-8")
restaruantfile

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,11221.0,9292109055,Other,09/24/2015,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,304.0,37.0,42100.0,3074096.0,3.032550e+09,BK78,NaN
1,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,11221.0,9292109055,Other,09/24/2015,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,304.0,37.0,42100.0,3074096.0,3.032550e+09,BK78,NaN
2,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,11221.0,9292109055,Other,09/24/2015,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,304.0,37.0,42100.0,3074096.0,3.032550e+09,BK78,NaN
3,40944945,Stage 42,Manhattan,422,WEST 42 STREET,10036.0,2125867610,American,09/24/2015,Establishment re-opened by DOHMH.,...,Cycle Inspection / Reopening Inspection,40.758823,-73.993607,104.0,3.0,11500.0,1087184.0,1.010518e+09,MN15,NaN
4,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,11221.0,9292109055,Other,09/24/2015,Violations were cited in the following area(s).,...,Administrative Miscellaneous / Initial Inspection,40.697359,-73.923881,304.0,37.0,42100.0,3074096.0,3.032550e+09,BK78,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,50061356,EL ROCHE LEBANON,Queens,2548,STEINWAY ST,11103.0,7182676222,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.767548,-73.912025,401.0,22.0,14300.0,4010285.0,4.006540e+09,QN70,NaN
1423,50061356,EL ROCHE LEBANON,Queens,2548,STEINWAY ST,11103.0,7182676222,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,...,Smoke-Free Air Act / Initial Inspection,40.767548,-73.912025,401.0,22.0,14300.0,4010285.0,4.006540e+09,QN70,NaN
1424,50061356,EL ROCHE LEBANON,Queens,2548,STEINWAY ST,11103.0,7182676222,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.767548,-73.912025,401.0,22.0,14300.0,4010285.0,4.006540e+09,QN70,NaN
1425,50061356,EL ROCHE LEBANON,Queens,2548,STEINWAY ST,11103.0,7182676222,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.767548,-73.912025,401.0,22.0,14300.0,4010285.0,4.006540e+09,QN70,NaN
1426,40397574,DOMINICK'S BAR & RESTAURANT,Bronx,2335,ARTHUR AVENUE,10458.0,7187332807,Italian,12/29/2017,Violations were cited in the following area(s).,...,Administrative Miscellaneous / Initial Inspection,40.854188,-73.888749,206.0,15.0,39100.0,2092246.0,2.030650e+09,BX06,NaN

In [13]:
# #Normalize Inspection Date columns
# query_df['inspection_date']=pd.to_datetime(query_df['inspection_date']).dt.normalize()
# print(query_df['inspection_date'].head())
# print(query_df.dtypes)

In [9]:
#Delete unnessecary columns
restaruantfile = restaruantfile.drop(columns=['BUILDING','STREET', 'PHONE', 'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA', 'RECORD DATE', 'GRADE DATE'])
restaruantfile

,CAMIS,DBA,BORO,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,Latitude,Longitude,Location Point1
0,50041177,FIRSTLIVE STUDIO,Brooklyn,11221.0,Other,09/24/2015,Violations were cited in the following area(s).,10H,Proper sanitization not provided for utensil w...,Not Critical,38.0,NaN,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,NaN
1,50041177,FIRSTLIVE STUDIO,Brooklyn,11221.0,Other,09/24/2015,Violations were cited in the following area(s).,04J,Appropriately scaled metal stem-type thermomet...,Critical,38.0,NaN,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,NaN
2,50041177,FIRSTLIVE STUDIO,Brooklyn,11221.0,Other,09/24/2015,Violations were cited in the following area(s).,05D,Hand washing facility not provided in or near ...,Critical,38.0,NaN,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,NaN
3,40944945,Stage 42,Manhattan,10036.0,American,09/24/2015,Establishment re-opened by DOHMH.,10B,Plumbing not properly installed or maintained;...,Not Critical,2.0,P,Cycle Inspection / Reopening Inspection,40.758823,-73.993607,NaN
4,50041177,FIRSTLIVE STUDIO,Brooklyn,11221.0,Other,09/24/2015,Violations were cited in the following area(s).,20D,“Choking first aid” poster not posted. “Alcoho...,Not Critical,NaN,NaN,Administrative Miscellaneous / Initial Inspection,40.697359,-73.923881,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,50061356,EL ROCHE LEBANON,Queens,11103.0,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,10B,Plumbing not properly installed or maintained;...,Not Critical,14.0,NaN,Cycle Inspection / Initial Inspection,40.767548,-73.912025,NaN
1423,50061356,EL ROCHE LEBANON,Queens,11103.0,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,15E2,Flavored tobacco products sold or offered for ...,Not Applicable,NaN,NaN,Smoke-Free Air Act / Initial Inspection,40.767548,-73.912025,NaN
1424,50061356,EL ROCHE LEBANON,Queens,11103.0,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,14.0,NaN,Cycle Inspection / Initial Inspection,40.767548,-73.912025,NaN
1425,50061356,EL ROCHE LEBANON,Queens,11103.0,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,04A,Food Protection Certificate not held by superv...,Critical,14.0,NaN,Cycle Inspection / Initial Inspection,40.767548,-73.912025,NaN
1426,40397574,DOMINICK'S BAR & RESTAURANT,Bronx,10458.0,Italian,12/29/2017,Violations were cited in the following area(s).,20F,Current letter grade sign not posted.,Not Critical,NaN,NaN,Administrative Miscellaneous / Initial Inspection,40.854188,-73.888749,NaN

In [21]:
#Drop restaurants that don't have a grade (i.e., NaN) from the dataframe
#query_df['grade'].unique()
clean_grade_df = restaruantfile.dropna(subset=['GRADE'])

In [23]:
#getting unique value lists which should be helpful later when making calls. this syntax can work for any column.
clean_grade_df['CUISINE DESCRIPTION'].unique().tolist()
clean_grade_df['BORO'].unique().tolist()

['Manhattan', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island']

In [20]:
#the code worked but i think we will have to run the dates through that filter code to get it sorted. I am holdingoff until class to do this.
clean_grade_df.sort_values('INSPECTION DATE',ascending=False)

,CAMIS,DBA,BORO,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,Latitude,Longitude,Location Point1
415,41574355,"MBJ CAFETERIA, LAGUARDIA COMMUNITY COLLEGE",Queens,11101.0,American,12/29/2016,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,10.0,A,Cycle Inspection / Initial Inspection,40.744895,-73.935022,NaN
414,50014366,"TY BAR, FOUR SEASONS HOTEL",Manhattan,10022.0,American,12/29/2016,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Critical,9.0,A,Cycle Inspection / Initial Inspection,40.762051,-73.971793,NaN
413,50014366,"TY BAR, FOUR SEASONS HOTEL",Manhattan,10022.0,American,12/29/2016,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,9.0,A,Cycle Inspection / Initial Inspection,40.762051,-73.971793,NaN
412,41574355,"MBJ CAFETERIA, LAGUARDIA COMMUNITY COLLEGE",Queens,11101.0,American,12/29/2016,Violations were cited in the following area(s).,09C,Food contact surface not properly maintained.,Not Critical,10.0,A,Cycle Inspection / Initial Inspection,40.744895,-73.935022,NaN
411,41574355,"MBJ CAFETERIA, LAGUARDIA COMMUNITY COLLEGE",Queens,11101.0,American,12/29/2016,Violations were cited in the following area(s).,10I,"Single service item reused, improperly stored,...",Not Critical,10.0,A,Cycle Inspection / Initial Inspection,40.744895,-73.935022,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,41520990,WORLD BEAN,Queens,11369.0,Coffee/Tea,01/12/2017,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,3.0,A,Cycle Inspection / Initial Inspection,40.774414,-73.877293,NaN
428,50015171,NEW AMSTERDAM THEATER,Manhattan,10036.0,American,01/11/2017,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,5.0,A,Cycle Inspection / Initial Inspection,40.756317,-73.987652,NaN
417,41111524,EAT-A-BAGEL--John Marchi Ferry,Manhattan,10004.0,Bagels/Pretzels,01/06/2017,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,7.0,A,Cycle Inspection / Initial Inspection,40.700960,-74.013135,NaN
423,41111524,EAT-A-BAGEL--John Marchi Ferry,Manhattan,10004.0,Bagels/Pretzels,01/06/2017,Violations were cited in the following area(s).,06D,"Food contact surface not properly washed, rins...",Critical,7.0,A,Cycle Inspection / Initial Inspection,40.700960,-74.013135,NaN
416,41416921,DUZAN,Queens,11103.0,Mediterranean,01/05/2017,Violations were cited in the following area(s).,06C,Food not protected from potential source of co...,Critical,5.0,A,Cycle Inspection / Re-inspection,40.768667,-73.911074,NaN

In [25]:
#Restrict dataset to just September 2010 to September 2017

BEGIN RAT DATA DO NOT PUT PIZZA DATA BELOW

In [25]:
ratpath= Path("csv_folder/rat_sightings.csv")
ratfile=pd.read_csv(ratpath,encoding="UTF-8")
ratfile

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31464015,9/4/2015 0:00,9/18/2015 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,10006.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.707772,-74.012963,"(40.70777155363643, -74.01296309970473)"
1,31464024,9/4/2015 0:00,10/28/2015 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Commercial Building,10306.0,2270 HYLAN BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.575209,-74.104547,"(40.575209242947444, -74.1045465185469)"
2,31464025,9/4/2015 0:00,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10310.0,758 POST AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.631236,-74.126878,"(40.63123555151668, -74.12687759748677)"
3,31464026,9/4/2015 0:00,9/14/2015 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11206.0,198 SCHOLES STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708987,-73.941207,"(40.70898692345805, -73.94120690238431)"
4,31464027,9/4/2015 0:00,9/22/2015 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,10462.0,2138 WALLACE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854130,-73.864813,"(40.85413014360452, -73.86481331044513)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101909,35494908,2/15/2017 0:00,1/31/2017 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11207.0,2515 ATLANTIC AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675635,-73.901327,"(40.67563538613833, -73.90132744872707)"
101910,35494944,2/14/2017 0:00,2/23/2017 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11233.0,829 HALSEY STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.685525,-73.919406,"(40.685525167695936, -73.91940607172907)"
101911,35494945,2/14/2017 0:00,2/16/2017 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11213.0,98 ALBANY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677325,-73.938679,"(40.67732468990624, -73.93867870955741)"
101912,35494970,2/14/2017 0:00,1/17/2017 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11105.0,22-68 46 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.769171,-73.903860,"(40.76917070274182, -73.90386041412091)"
101913,35502334,2/15/2017 4:39,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11238.0,89 LEFFERTS PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.681130,-73.959936,"(40.68113007777712, -73.95993644360209)"

In [35]:
#came up with way to easily filter the main DF by columns. This can easily be amended by adding column titles to columns_to_keep and rerunning the block.
#for some reason all the zips have .0 which makes no sense and will make merging harder maybe.
#i took facility type out Facililty Type because it is only Nans. scroll down to see output confirming.
columns_to_keep=['Borough','Incident Zip','Created Date','Location Type','City','Status']
clean_rats_df=ratfile[columns_to_keep].copy()
clean_rats_df

,Borough,Incident Zip,Created Date,Location Type,City,Status
0,MANHATTAN,10006.0,9/4/2015 0:00,3+ Family Mixed Use Building,NEW YORK,Closed
1,STATEN ISLAND,10306.0,9/4/2015 0:00,Commercial Building,STATEN ISLAND,Closed
2,STATEN ISLAND,10310.0,9/4/2015 0:00,1-2 Family Dwelling,STATEN ISLAND,Assigned
3,BROOKLYN,11206.0,9/4/2015 0:00,3+ Family Apt. Building,BROOKLYN,Closed
4,BRONX,10462.0,9/4/2015 0:00,3+ Family Mixed Use Building,BRONX,Closed
...,...,...,...,...,...,...
101909,BROOKLYN,11207.0,2/15/2017 0:00,3+ Family Mixed Use Building,BROOKLYN,Pending
101910,BROOKLYN,11233.0,2/14/2017 0:00,3+ Family Apt. Building,BROOKLYN,Closed
101911,BROOKLYN,11213.0,2/14/2017 0:00,3+ Family Mixed Use Building,BROOKLYN,Closed
101912,QUEENS,11105.0,2/14/2017 0:00,1-2 Family Dwelling,Astoria,Pending
101913,BROOKLYN,11238.0,2/15/2017 4:39,3+ Family Mixed Use Building,BROOKLYN,Pending

In [37]:
#fixed the zip code formatting, had to fill NaNs but we can discuss dropping them maybe? Im having trouble picturing how it will effect the final project.
clean_rats_df['Incident Zip'].fillna(-1,inplace=True)
clean_rats_df['Incident Zip'] = clean_rats_df['Incident Zip'].astype(int)
clean_rats_df

C:\Users\Troy Flood\AppData\Local\Temp\ipykernel_19308\3788183012.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_rats_df['Incident Zip'].fillna(-1,inplace=True)

,Borough,Incident Zip,Created Date,Location Type,City,Status
0,MANHATTAN,10006,9/4/2015 0:00,3+ Family Mixed Use Building,NEW YORK,Closed
1,STATEN ISLAND,10306,9/4/2015 0:00,Commercial Building,STATEN ISLAND,Closed
2,STATEN ISLAND,10310,9/4/2015 0:00,1-2 Family Dwelling,STATEN ISLAND,Assigned
3,BROOKLYN,11206,9/4/2015 0:00,3+ Family Apt. Building,BROOKLYN,Closed
4,BRONX,10462,9/4/2015 0:00,3+ Family Mixed Use Building,BRONX,Closed
...,...,...,...,...,...,...
101909,BROOKLYN,11207,2/15/2017 0:00,3+ Family Mixed Use Building,BROOKLYN,Pending
101910,BROOKLYN,11233,2/14/2017 0:00,3+ Family Apt. Building,BROOKLYN,Closed
101911,BROOKLYN,11213,2/14/2017 0:00,3+ Family Mixed Use Building,BROOKLYN,Closed
101912,QUEENS,11105,2/14/2017 0:00,1-2 Family Dwelling,Astoria,Pending
101913,BROOKLYN,11238,2/15/2017 4:39,3+ Family Mixed Use Building,BROOKLYN,Pending

In [34]:
#ran this prior to taking out column and left output for proof
clean_rats_df['Facility Type'].unique().tolist()

[nan]