In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pathlib import Path

In [8]:
restaruantpath= Path("csv_folder/restaurant_data.csv")
restaruantfile=pd.read_csv(restaruantpath,encoding="UTF-8")
restaruantfile

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1
0,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,11221.0,9292109055,Other,09/24/2015,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,304.0,37.0,42100.0,3074096.0,3.032550e+09,BK78,NaN
1,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,11221.0,9292109055,Other,09/24/2015,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,304.0,37.0,42100.0,3074096.0,3.032550e+09,BK78,NaN
2,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,11221.0,9292109055,Other,09/24/2015,Violations were cited in the following area(s).,...,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,304.0,37.0,42100.0,3074096.0,3.032550e+09,BK78,NaN
3,40944945,Stage 42,Manhattan,422,WEST 42 STREET,10036.0,2125867610,American,09/24/2015,Establishment re-opened by DOHMH.,...,Cycle Inspection / Reopening Inspection,40.758823,-73.993607,104.0,3.0,11500.0,1087184.0,1.010518e+09,MN15,NaN
4,50041177,FIRSTLIVE STUDIO,Brooklyn,219,CENTRAL AVENUE,11221.0,9292109055,Other,09/24/2015,Violations were cited in the following area(s).,...,Administrative Miscellaneous / Initial Inspection,40.697359,-73.923881,304.0,37.0,42100.0,3074096.0,3.032550e+09,BK78,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,50061356,EL ROCHE LEBANON,Queens,2548,STEINWAY ST,11103.0,7182676222,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.767548,-73.912025,401.0,22.0,14300.0,4010285.0,4.006540e+09,QN70,NaN
1423,50061356,EL ROCHE LEBANON,Queens,2548,STEINWAY ST,11103.0,7182676222,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,...,Smoke-Free Air Act / Initial Inspection,40.767548,-73.912025,401.0,22.0,14300.0,4010285.0,4.006540e+09,QN70,NaN
1424,50061356,EL ROCHE LEBANON,Queens,2548,STEINWAY ST,11103.0,7182676222,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.767548,-73.912025,401.0,22.0,14300.0,4010285.0,4.006540e+09,QN70,NaN
1425,50061356,EL ROCHE LEBANON,Queens,2548,STEINWAY ST,11103.0,7182676222,Middle Eastern,12/28/2017,Violations were cited in the following area(s).,...,Cycle Inspection / Initial Inspection,40.767548,-73.912025,401.0,22.0,14300.0,4010285.0,4.006540e+09,QN70,NaN
1426,40397574,DOMINICK'S BAR & RESTAURANT,Bronx,2335,ARTHUR AVENUE,10458.0,7187332807,Italian,12/29/2017,Violations were cited in the following area(s).,...,Administrative Miscellaneous / Initial Inspection,40.854188,-73.888749,206.0,15.0,39100.0,2092246.0,2.030650e+09,BX06,NaN

In [10]:
print(query_df.dtypes)

CAMIS                      int64
DBA                       object
BORO                      object
BUILDING                  object
STREET                    object
ZIPCODE                  float64
PHONE                     object
CUISINE DESCRIPTION       object
INSPECTION DATE           object
ACTION                    object
VIOLATION CODE            object
VIOLATION DESCRIPTION     object
CRITICAL FLAG             object
SCORE                    float64
GRADE                     object
GRADE DATE                object
RECORD DATE               object
INSPECTION TYPE           object
Latitude                 float64
Longitude                float64
Community Board          float64
Council District         float64
Census Tract             float64
BIN                      float64
BBL                      float64
NTA                       object
Location Point1          float64
dtype: object

In [21]:
# #Normalize Inspection Date columns
# query_df['inspection_date']=pd.to_datetime(query_df['inspection_date']).dt.normalize()
# print(query_df['inspection_date'].head())
# print(query_df.dtypes)

In [17]:
#Delete unnessecary columns
restaruantfile = restaruantfile.drop(columns=['BUILDING','STREET', 'PHONE', 'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA', 'RECORD DATE', 'GRADE DATE'])
restaruantfile.head()

,CAMIS,DBA,BORO,ZIPCODE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,INSPECTION TYPE,Latitude,Longitude,Location Point1
0,50041177,FIRSTLIVE STUDIO,Brooklyn,11221.0,Other,09/24/2015,Violations were cited in the following area(s).,10H,Proper sanitization not provided for utensil w...,Not Critical,38.0,NaN,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,NaN
1,50041177,FIRSTLIVE STUDIO,Brooklyn,11221.0,Other,09/24/2015,Violations were cited in the following area(s).,04J,Appropriately scaled metal stem-type thermomet...,Critical,38.0,NaN,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,NaN
2,50041177,FIRSTLIVE STUDIO,Brooklyn,11221.0,Other,09/24/2015,Violations were cited in the following area(s).,05D,Hand washing facility not provided in or near ...,Critical,38.0,NaN,Pre-permit (Non-operational) / Initial Inspection,40.697359,-73.923881,NaN
3,40944945,Stage 42,Manhattan,10036.0,American,09/24/2015,Establishment re-opened by DOHMH.,10B,Plumbing not properly installed or maintained;...,Not Critical,2.0,P,Cycle Inspection / Reopening Inspection,40.758823,-73.993607,NaN
4,50041177,FIRSTLIVE STUDIO,Brooklyn,11221.0,Other,09/24/2015,Violations were cited in the following area(s).,20D,“Choking first aid” poster not posted. “Alcoho...,Not Critical,NaN,NaN,Administrative Miscellaneous / Initial Inspection,40.697359,-73.923881,NaN

In [19]:
#Drop restaurants that don't have a grade (i.e., NaN) from the dataframe
#query_df['grade'].unique()
dummy_df = restaruantfile.dropna(subset=['GRADE'])

In [ ]:
dummy_df.sort_values('inspection_date')

In [25]:
#Restrict dataset to just September 2010 to September 2017

BEGIN RAT DATA DO NOT PUT PIZZA DATA BELOW

In [23]:
ratpath= Path("csv_folder/rat_sightings.csv")
ratfile=pd.read_csv(ratpath,encoding="UTF-8")
ratfile

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31464015,9/4/2015 0:00,9/18/2015 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,10006.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.707772,-74.012963,"(40.70777155363643, -74.01296309970473)"
1,31464024,9/4/2015 0:00,10/28/2015 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Commercial Building,10306.0,2270 HYLAN BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.575209,-74.104547,"(40.575209242947444, -74.1045465185469)"
2,31464025,9/4/2015 0:00,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10310.0,758 POST AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.631236,-74.126878,"(40.63123555151668, -74.12687759748677)"
3,31464026,9/4/2015 0:00,9/14/2015 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11206.0,198 SCHOLES STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708987,-73.941207,"(40.70898692345805, -73.94120690238431)"
4,31464027,9/4/2015 0:00,9/22/2015 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,10462.0,2138 WALLACE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854130,-73.864813,"(40.85413014360452, -73.86481331044513)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101909,35494908,2/15/2017 0:00,1/31/2017 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11207.0,2515 ATLANTIC AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675635,-73.901327,"(40.67563538613833, -73.90132744872707)"
101910,35494944,2/14/2017 0:00,2/23/2017 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11233.0,829 HALSEY STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.685525,-73.919406,"(40.685525167695936, -73.91940607172907)"
101911,35494945,2/14/2017 0:00,2/16/2017 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11213.0,98 ALBANY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677325,-73.938679,"(40.67732468990624, -73.93867870955741)"
101912,35494970,2/14/2017 0:00,1/17/2017 0:00,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11105.0,22-68 46 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.769171,-73.903860,"(40.76917070274182, -73.90386041412091)"
101913,35502334,2/15/2017 4:39,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11238.0,89 LEFFERTS PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.681130,-73.959936,"(40.68113007777712, -73.95993644360209)"

In [41]:
clean_rats=ratfile['Borough'],ratfile['Incident Zip'],ratfile['Created Date'],ratfile['Location Type'],ratfile['Facility Type'],ratfile['City'],ratfile['Status']

In [42]:
clean_rat_df=pd.DataFrame(clean_rat_df)

In [43]:
clean_rat_df

,0,1,2,3,4,5,6,7,8,9,...,101904,101905,101906,101907,101908,101909,101910,101911,101912,101913
Borough,MANHATTAN,STATEN ISLAND,STATEN ISLAND,BROOKLYN,BRONX,BROOKLYN,QUEENS,BROOKLYN,MANHATTAN,STATEN ISLAND,...,BROOKLYN,BROOKLYN,MANHATTAN,QUEENS,BROOKLYN,BROOKLYN,BROOKLYN,BROOKLYN,QUEENS,BROOKLYN
Incident Zip,10006.0,10306.0,10310.0,11206.0,10462.0,11231.0,11354.0,11205.0,10010.0,10303.0,...,11221.0,11237.0,10065.0,11106.0,11216.0,11207.0,11233.0,11213.0,11105.0,11238.0
Created Date,9/4/2015 0:00,9/4/2015 0:00,9/4/2015 0:00,9/4/2015 0:00,9/4/2015 0:00,9/4/2015 0:00,9/4/2015 0:00,9/4/2015 0:00,9/4/2015 0:00,9/4/2015 0:00,...,2/14/2017 0:00,2/14/2017 0:00,2/15/2017 0:00,2/14/2017 0:00,2/14/2017 0:00,2/15/2017 0:00,2/14/2017 0:00,2/14/2017 0:00,2/14/2017 0:00,2/15/2017 4:39
Location Type,3+ Family Mixed Use Building,Commercial Building,1-2 Family Dwelling,3+ Family Apt. Building,3+ Family Mixed Use Building,3+ Family Apt. Building,3+ Family Apt. Building,3+ Family Mixed Use Building,Public Stairs,1-2 Family Dwelling,...,Single Room Occupancy (SRO),1-2 Family Dwelling,Commercial Building,1-2 Family Dwelling,3+ Family Apt. Building,3+ Family Mixed Use Building,3+ Family Apt. Building,3+ Family Mixed Use Building,1-2 Family Dwelling,3+ Family Mixed Use Building
Facility Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,NEW YORK,STATEN ISLAND,STATEN ISLAND,BROOKLYN,BRONX,BROOKLYN,Flushing,BROOKLYN,NEW YORK,STATEN ISLAND,...,BROOKLYN,BROOKLYN,NEW YORK,Astoria,BROOKLYN,BROOKLYN,BROOKLYN,BROOKLYN,Astoria,BROOKLYN
Status,Closed,Closed,Assigned,Closed,Closed,Closed,Closed,Assigned,Pending,Closed,...,Closed,Closed,Closed,Pending,Closed,Pending,Closed,Closed,Pending,Pending

In [25]:
restaruantfile.drop(columns=['BRIDE HIGHWAY NAME',	'BRIDGE HIGHWAY DIRECTION',	'Road Ramp','Bridge Highway Segment','Garage Lot Name',	'Ferry Direction',	'Ferry Terminal Name'])
restaruantfile.head()

KeyError: "['Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name'] not found in axis"